@charset "utf-8";

.breaking{
	background-color:antiquewhite;
}
.date{
	display:block;
	text-align:right;
}
.bigtitle{
	text-align:center;
	padding:5px;
	margin:15px;
}
.bigtitle span{
	font-size:20pt;
	text-align:center;
	margin:auto 30px;
}
#container p{
	text-indent:24pt;
	line-height:20px;
}