@charset "utf-8";
/* CSS Document */
.gallerycontent{
	height:190px;
	display:flex;
	overflow:hidden;
}
.gallerycontent img{
	height:180px;
}
.gallery{
	height:250px;
	text-align:center;
	margin:5px auto 3px auto;
	background-color:lightsalmon;
	border-radius:7px;
}
.gallery .title{
	border-radius:7px;
}
.prize{
	height:250px;
	text-align:center;
	margin:5px auto 3px auto;
	background-color:lightsalmon;
	border-radius:7px;
}
.prize table td{
	height:237px;
}
.prizepic{
	width:210px;
	height:210px;
	border-radius:7px;
}
.prizeborder{
	background-color:aquamarine;
	border-radius:7px;
}
.prizecontent{
	width:100%;
}
.prizedivcontent{
	text-align:left;
	color:white;
	line-height:30px;
}
.prizedivcontent *{
	text-shadow:black 2px 1px;
}
.prizedivcontent h1{
	font-weight:550;
}
.saying{
	padding-left:20px;
	margin:5px auto 3px auto;
	background-color:darkgrey;
	border-radius:7px;
}
.sayingtitle h2{
	font-weight:400;
}
.sayingcontent{
	text-indent:20px;
	margin:20px;
}
.sayingtitle *{
	display:inline-block;
	margin-left:10px;
}